{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}
  <div class="movie-grid">
    {% for movie in movies %}
      <div class="card">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" />
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.description }}</p>
        <a href="{{ url_for('fetch_movie_data', movie_id=movie.id) }}" class="button button-success">Details</a>
      </div>
    {% else %}
      <p>Keine Filme gefunden.</p>
    {% endfor %}
  </div>
{% endblock %}
